In [36]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [37]:
survivors = pd.read_csv('train.csv')
survivors.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [38]:
survivors.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [39]:
bins= (0,5,10,15,20,25,30,35,40,45,50,55,60,65, 70, 75,80,85)
survivors["Sex"]=survivors["Sex"].astype("category").cat.codes
survivors["Embarked"]=survivors["Embarked"].astype("category").cat.codes
survivors["Embarked"]=survivors["Embarked"].astype("category").cat.codes
survivors["Age"]=survivors["Age"].fillna(29.699118)

In [40]:
survivors.drop(["Name", "Ticket", "Cabin"], axis=1, inplace=True)

In [41]:
survivors["Age"].isna().sum()

0

In [42]:
# Assign the data to X and y
# All useful data
# X = survivors[["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Cabin", "Embarked"]]
survivors.dropna(inplace=True)
#All numerical data
X = survivors[["Pclass","Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]]
y = survivors["Survived"].values.reshape(-1, 1)
print(X.shape, y.shape)

(891, 7) (891, 1)

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [44]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [45]:
classifier.fit(X_train, y_train)

C:\Users\warne\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\warne\Anaconda3\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [46]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7994011976047904
Testing Data Score: 0.8026905829596412

In [58]:
from sklearn.metrics import classification_report

print(classification_report(y_test, predictions,target_names=["Neg","Pos"]))

              precision    recall  f1-score   support

         Neg       0.81      0.88      0.85       137
         Pos       0.78      0.67      0.72        86

   micro avg       0.80      0.80      0.80       223
   macro avg       0.80      0.78      0.79       223
weighted avg       0.80      0.80      0.80       223

In [47]:
# predictions = classifier.predict(X_test)
# pd.DataFrame({"Prediction": predictions, "Actual": np.ravel(y_test)})

     Prediction  Actual
0             0       1
1             0       0
2             0       0
3             0       1
4             1       1
5             0       0
6             0       0
7             0       1
8             0       0
9             0       0
10            0       0
11            1       0
12            1       1
13            0       0
14            0       0
15            1       0
16            0       1
17            1       1
18            0       0
19            0       0
20            1       1
21            0       0
22            1       1
23            1       1
24            0       0
25            0       0
26            0       0
27            1       0
28            0       0
29            0       0
..          ...     ...
193           0       0
194           1       1
195           0       0
196           0       0
197           1       1
198           0       1
199           0       0
200           0       0
201           0       0
202           1       0
203           1       1
204           1       0
205           0       0
206           0       0
207           0       1
208           0       0
209           1       1
210           1       1
211           0       0
212           0       0
213           0       0
214           0       0
215           1       1
216           0       0
217           1       1
218           0       0
219           0       0
220           0       1
221           1       1
222           1       1

[223 rows x 2 columns]